<h1>RACK</h1>

<p>※このメールにお心当たりのない場合は、URLにアクセスせずメールを破棄してください。</p>

<p>この度は、RACK（ラック）にご登録いただきありがとうございます。</p>

<p>現在、<%= @user.name %>さんは、仮登録中です。
以下のURLに接続して、本登録をおこなってください。</p>

<p>本登録用URL：<br><%= link_to nil, edit_account_activation_url(@user.activation_token, email: @user.email) %></p>




<p>==================================================<br>■発行元<br>RACK｜ファッション情報専門Q＆Aサイト<br>https://www.rack-fashion.com/<br>==================================================</p>


<p>----------------------------------------------------------------------------------------------------</p>

<p>このメールのメールアドレスは配信専用です。このメッセージに返信しないようお願いいたします。</p>
